# Hello World

In [11]:
print("Hello World")

Hello World

## Add Two numbers

In [1]:
num1=float(input("Enter first Number: "))
num2=float(input("Enter Second Number: "))

sum=num1+num2
print(f"Sum of Two number is {sum}")

Enter first Number:  4
Enter Second Number:  5

Sum of Two number is 9.0

## Divsion of Two Numbers

In [ ]:
num3=float(input("Enter Dividend for Division: "))
num4=float(input("Enter Divisor for Division: "))

if num3==0:
  print("Divisor Should not be equal to zero. ")
else:
  result=num3/num4
  print(f"Division {num3}/{num4} = {result}")

Enter Dividend for Division: 20
Enter Divisor for Division: 5
Division 20.0/5.0 = 4.0

# Area of Triangle

In [ ]:
base=float(input("Enter the base of Triangle: "))
height=float(input("Enter the height of Triangle: "))

area=0.5*base*height

print(f"Area of Triangle is : {area}")

Enter the base of Triangle: 10
Enter the height of Triangle: 15
Area of Triangle is : 75.0

## Swap Two Variables

In [ ]:
numb1=float(input("Enter Number one: "))
numb2=float(input("Enter Number Two: "))

print("****Before Swaping****")
print(f"Value of Numbers are a={numb1}, b={numb2}")

temp=numb1
numb1=numb2
numb2=temp

print("\n")
print("****After Swaping****")
print(f"Value of Numbers are a={numb1}, b={numb2}")

Enter Number one: 5
Enter Number Two: 10
****Before Swaping****
Value of Numbers are a=5.0, b=10.0


****After Swaping****
Value of Numbers are a=10.0, b=5.0

## Generate Random Number between 1 to 100

In [ ]:
import random
print(random.randint(1,100))

4

## Program to Convert Kilometers to Miles

In [ ]:
kilometers=float(input("Enter distance in Kilometers: "))

#1 kilometer= 0.62137119 miles
conversion_factor= 0.62137119

result=kilometers*conversion_factor

print(f"{kilometers} Kilometers = {result} Miles")

Enter distance in Kilometers: 5
5.0 Kilometers = 3.10685595 Miles

## Fahrenheit to Celsius

In [ ]:
celsius=float(input("Enter Temperature in celsius: "))

Fahrenheit=celsius*(9/5)+32

print(f"{celsius} Fahrenheit = {Fahrenheit} Celsius")

Enter Temperature in celsius: 100
100.0 Fahrenheit = 212.0 Celsius


## Display Calender

In [ ]:
import calendar

year=int(input("Enter Year: "))
month=int(input("Enter Month: "))

cal=calendar.month(year, month)
print(cal)

Enter Year: 2023
Enter Month: 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

## Swap Two Variables without using Temp Variable

In [4]:
a=5
b=6

print("****Before Swaping****")
print(f"Value of Numbers are a={a}, b={b}")

a,b=b,a

print("\n")
print("****After Swaping****")
print(f"Value of Numbers are a={a}, b={b}")

****Before Swaping****
Value of Numbers are a=5, b=6


****After Swaping****
Value of Numbers are a=6, b=5

## Program to weather Number is Positive Negative or Zero

In [ ]:
num=float(input("Enter any Number: "))

if num==0:
    print("Number is zero.")
elif num>0:
    print("Number is Postive")
else:
    print("Number is Negative")

## Program To check weather number is Even or Odd

In [16]:
num=int(input("Enter a Number: "))

if num%2==0:
    print(f"{num} is Even")
elif num%2!=0:
    print(f"{num} is Odd")
else:
    print("Please enter valid Number.")

Enter a Number:  5

5 is Odd

## Write prgram to check weather Year is Leap or Not

In [18]:
year=int(input("Enter Year: "))

if (year%400==0) and (year%100==0):
    print(f"{year} is Leap Year.")

elif year%4==0 and year%100:
    print(f"{year} is Leap Year.")

else: 
    print(f"{year} is not Leap Year.")

Enter Year:  2024

2024 is Leap Year.

## Check weather a number is Prime or Not

In [25]:
num=int(input("Enter a Number: "))

flag=False

if num==1:
    print(f"{num} is Prime Number.")
elif num>1:
    for i in range(2,num):
        if (num%i)==0:
            flag=True
            break

if flag:
    print(f"{num} is Not Prime Number.")

else:
    print(f"{num} is Prime Number.")

Enter a Number:  9

9 is Not Prime Number.

## Write Program to print Prime number interval 1-10

In [44]:
start=1
end=10


for num in range(start, end+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num,end=',')

2,3,5,7,

## Find Factorial of Number

In [4]:
fact=1

num=int(input("Enter a Number to find factorial: "))
if num<0:
    print("Number Should be Zero or Greater than 0.")
elif num==0:
    print("Factorial of 0 is 1.")
else:
    for i in range(1,num+1):
        fact=fact*i
        i=i+1
    print(fact)

Enter a Number to find factorial:  5

120

## Code to show multiplication table

In [9]:
## let's suppose in this code table is of 13 up to 10
for i in range(1,11):
    print(f"13X{i} = {13*i}")

13X1 = 13
13X2 = 26
13X3 = 39
13X4 = 52
13X5 = 65
13X6 = 78
13X7 = 91
13X8 = 104
13X9 = 117
13X10 = 130

##  Code to Print Fibonacci Series

In [14]:
nterms=int(input("How many terms?"))

n1=0
n2=1
count=0

if nterms<0:
    print("Please Enter a positive Integer.")
elif nterms==0:
    print(f"Fibonacci Series upto nterm is {n1}.")
else:
    print("Fibonacci series are:")
    while count<nterms:
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count+=1

How many terms? 15

Fibonacci series are:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

## Program to Find sum of Natural Numbers

In [10]:
limit=int(input("Enter the limit of Numbers: "))
sum=0

print(f"Numbers are: ")
for i in range(1,limit+1):
    print(f"{i}",end=',')
    sum=sum+i
print("\n")
print(f"Sum of all Natural Numbers is {sum}")

Enter the limit of Numbers:  10

Numbers are:
1,2,3,4,5,6,7,8,9,10,

Sum of all Natural Numbers is 55

## Program to find ASCII Numbers of Character

In [1]:
char=str(input("Enter any Character: "))
print(f"The ASCII value of {char} is {ord(char)}")

Enter any Character:  r

The ASCII value of r is 114