# Hello World

In [ ]:
print("Hello World")

Hello World

## Add Two numbers

In [ ]:
num1=float(input("Enter first Number: "))
num2=float(input("Enter Second Number: "))

sum=num1+num2
print(f"Sum of Two number is {sum}")

Enter first Number: 5
Enter Second Number: 10
Sum of Two number is 15.0

## Divsion of Two Numbers

In [ ]:
num3=float(input("Enter Dividend for Division: "))
num4=float(input("Enter Divisor for Division: "))

if num3==0:
  print("Divisor Should not be equal to zero. ")
else:
  result=num3/num4
  print(f"Division {num3}/{num4} = {result}")

Enter Dividend for Division: 20
Enter Divisor for Division: 5
Division 20.0/5.0 = 4.0

# Area of Triangle

In [ ]:
base=float(input("Enter the base of Triangle: "))
height=float(input("Enter the height of Triangle: "))

area=0.5*base*height

print(f"Area of Triangle is : {area}")

Enter the base of Triangle: 10
Enter the height of Triangle: 15
Area of Triangle is : 75.0

## Swap Two Variables

In [ ]:
numb1=float(input("Enter Number one: "))
numb2=float(input("Enter Number Two: "))

print("****Before Swaping****")
print(f"Value of Numbers are a={numb1}, b={numb2}")

temp=numb1
numb1=numb2
numb2=temp

print("\n")
print("****After Swaping****")
print(f"Value of Numbers are a={numb1}, b={numb2}")

Enter Number one: 5
Enter Number Two: 10
****Before Swaping****
Value of Numbers are a=5.0, b=10.0


****After Swaping****
Value of Numbers are a=10.0, b=5.0

## Generate Random Number between 1 to 100

In [ ]:
import random
print(random.randint(1,100))

4

## Program to Convert Kilometers to Miles

In [ ]:
kilometers=float(input("Enter distance in Kilometers: "))

#1 kilometer= 0.62137119 miles
conversion_factor= 0.62137119

result=kilometers*conversion_factor

print(f"{kilometers} Kilometers = {result} Miles")

Enter distance in Kilometers: 5
5.0 Kilometers = 3.10685595 Miles

## Fahrenheit to Celsius

In [ ]:
celsius=float(input("Enter Temperature in celsius: "))

Fahrenheit=celsius*(9/5)+32

print(f"{celsius} Fahrenheit = {Fahrenheit} Celsius")

Enter Temperature in celsius: 100
100.0 Fahrenheit = 212.0 Celsius


## Display Calender

In [ ]:
import calendar

year=int(input("Enter Year: "))
month=int(input("Enter Month: "))

cal=calendar.month(year, month)
print(cal)

Enter Year: 2023
Enter Month: 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
1